.app-footer-wrapper {
  .footer-header {
    padding: 30px 0;

    .left-side {
      p {
        color: #9e9e9e;
      }
    }

    #contact-form {
      max-width: 350px;
      display: flex;

      input {
        all: unset;
        font-size: 13px;
        padding: 15px 100px 15px 15px;
        background-color: #f4f4f4;
        color: #000;
        width: 100%;
      }
      button {
        all: unset;
        background-color: #222529;
        color: #fff;
        font-size: 12px;
        padding: 0 11px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .social-media-side {
      svg {
        color: #000;
        margin-left: 15px;
        font-size: 20px;
      }
    }
  }

  .footer-down {
    border-top: 1px solid $borderColor;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;

    .column {
      .title {
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      .column-item {
        margin-bottom: 15px;

        span:first-of-type {
          text-transform: uppercase;
        }

        span:last-of-type {
          font-size: 15px;
          color: #9e9e9e;
          margin-top: 5px;
        }

        a {
          color: #9e9e9e;
          text-transform: capitalize;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 776px) {
  .footer-header {
    flex-direction: column !important;

    & div,
    form {
      margin-bottom: 20px;
    }
  }
}
