.home-banner-wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .content {
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .content-text {
      position: absolute;
      z-index: 1000;
      top: 30%;
      left: 10%;

      h3:first-of-type {
        color: #000;
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      h1 {
        color: #222529;
        font-size: 4.5rem;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: 700;
      }

      a {
        background-color: #222529;
        color: #fff;
        width: fit-content;
        padding: 20px 40px;
        font-size: 0.8rem;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .content {
    .content-text {
      h1 {
        font-size: 2.5rem !important;
      }
    }
  }
}
