.our-features-wrapper {
  margin: 60px auto 0 auto;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 60px 0;

  .our-features-item {
    svg {
      font-size: 65px;
      margin-bottom: 15px;
      color: #a1a1a1;
    }

    h4 {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    p {
      font-size: 12px;
      text-align: center;
      color: #9e9e9e;
      line-height: 1.5;
      padding: 0 20px;
    }
  }
}
