.product-item-wrapper {
  // border: 1px solid red;

  .product-image {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

    // At hover
    &:hover .quick-view {
      bottom: 0 !important;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .offer {
      position: absolute;
      top: 5px;
      left: 5px;
      @include customSpan(#62b959, #fff, 10px, 40px, 20px);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-weight: 500;
    }
    .discount {
      position: absolute;
      top: 5px;
      left: 5px;
      @include customSpan(#e27c7c, #fff, 10px, 40px, 20px);
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }

    .quick-view {
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 15px;
      background-color: #000000e3;
      color: #fff;
      text-transform: uppercase;
      font-size: 0.7rem;
      transition: 0.4s ease-in-out;
    }
  }

  .product-content {
    .category {
      font-size: 0.5rem;
      text-transform: uppercase;
      color: #929292;
      display: block;
      margin-bottom: 5px;
    }

    .product-name {
      text-transform: capitalize;
      color: #000;
      font-size: 0.9rem;
    }

    .product-rating {
      svg {
        font-size: 14px;
        color: #d6d6d6;
      }
    }

    .product-price {
      font-weight: 500;
      color: #464646;
    }
  }

  // Change product view based on state
  &.show-one-row {
    border-bottom: 1px solid $borderColor;
    display: flex !important;
    padding-bottom: 15px;

    .product-image {
      margin: 0 !important;
    }

    .product-content {
      padding: 20px;
      width: 100%;
    }
  }

  .add-to-card-btn {
    max-width: 140px;
    border: none;
    padding: 10px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: rgb(39, 39, 39);
    }
  }
}
